.item {
    background-color: #abd5ff;
    max-width: 150px;
    padding: 10px;
    margin: 10px;
  }
  .floated {
    float: left;
  }

.positioned {
    position: relative;
    top: 10px;
    left: 10px;
}

  .section::after {
    content: ;
    clear: both;
    display: table;
  }